/** CUSTOM STYLES **/

/* Hide Nelmio header */
body {
    margin-top: 0;
}

header {
    display: none;
}

/** Swagger UI forms **/
/* Hide form for "full_list" query parameter which has no default value! */
/* https://github.com/OAI/OpenAPI-Specification/issues/1573 */
tr[data-param-name="full_list"] input[type="text"],
tr[data-param-name="full_list"] select {
    display: none; /* trick since Swagger UI has no configuration */
}
/* Complete "full_list" query parameter checkbox "send empty value" default text */
tr[data-param-name="full_list"] .parameter__empty_value_toggle:after {
    content: " to activate this parameter";
}